# Introducción  a Pandas

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("C:/Users/jenny/Documents/GITHUB/Linkedin_courses_bbdd/base_datos_2008.csv", nrows=100000)

In [3]:
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0

recordar que el índice de las filas siempre comienza desde cero.

In [4]:
# obtener ultinas 5 línes
df.tail()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
99995,2008,1,25,5,2204.0,1935,106.0,2257,XE,7676,...,4.0,17.0,0,NaN,0,0.0,0.0,0.0,0.0,129.0
99996,2008,1,26,6,1933.0,1935,2234.0,2257,XE,7676,...,4.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
99997,2008,1,27,7,2047.0,1935,2400.0,2257,XE,7676,...,6.0,18.0,0,NaN,0,23.0,0.0,0.0,0.0,40.0
99998,2008,1,28,1,1956.0,1935,2308.0,2257,XE,7676,...,5.0,25.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
99999,2008,1,29,2,1938.0,1935,2308.0,2257,XE,7676,...,5.0,41.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [5]:
# reordenar nuestra base de datos
df.sample(frac=1) #frac=1 significa que quieres el 100% de las filasºº

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
80000,2008,1,27,7,1351.0,1340,1538.0,1550,WN,1105,...,6.0,5.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
98331,2008,1,12,6,1109.0,1110,1344.0,1353,XE,502,...,5.0,18.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
68181,2008,1,24,4,1940.0,1855,2008.0,1920,WN,3072,...,4.0,24.0,0,NaN,0,0.0,0.0,3.0,0.0,45.0
35333,2008,1,14,1,1705.0,1700,1923.0,1925,WN,3255,...,6.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
15164,2008,1,7,1,1730.0,1720,1816.0,1815,WN,3492,...,5.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98952,2008,1,30,3,1016.0,1030,1220.0,1221,XE,532,...,10.0,18.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3758,2008,1,4,5,2131.0,2025,23.0,2310,WN,361,...,8.0,21.0,0,NaN,0,15.0,0.0,7.0,0.0,51.0
35028,2008,1,14,1,755.0,755,1102.0,1100,WN,3481,...,3.0,22.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4638,2008,1,4,5,2016.0,2015,2102.0,2105,WN,549,...,2.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
18129,2008,1,8,2,1059.0,1100,1147.0,1155,WN,1170,...,3.0,5.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [6]:
#para saber el nombre de todas las columnas los presenta en una lista
df.columns #no tiene parentesis porque estamos llamando a un atirbuto del dataframe cuando aplicamos función utilizamos parentesisºb

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [7]:
df.DepTime

0        2003.0
1         754.0
2         628.0
3         926.0
4        1829.0
          ...
99995    2204.0
99996    1933.0
99997    2047.0
99998    1956.0
99999    1938.0
Name: DepTime, Length: 100000, dtype: float64

In [8]:
# tipos de variables
df.dtypes

Year                   int64
Month                  int64
DayofMonth             int64
DayOfWeek              int64
DepTime              float64
CRSDepTime             int64
ArrTime              float64
CRSArrTime             int64
UniqueCarrier         object
FlightNum              int64
TailNum               object
ActualElapsedTime    float64
CRSElapsedTime         int64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin                object
Dest                  object
Distance               int64
TaxiIn               float64
TaxiOut              float64
Cancelled              int64
CancellationCode      object
Diverted               int64
CarrierDelay         float64
WeatherDelay         float64
NASDelay             float64
SecurityDelay        float64
LateAircraftDelay    float64
dtype: object

In [9]:
df.values #devuelve el dataframe como una array ideal para calculos matriciales

array([[2008, 1, 3, ..., nan, nan, nan],
       [2008, 1, 3, ..., nan, nan, nan],
       [2008, 1, 3, ..., nan, nan, nan],
       ...,
       [2008, 1, 27, ..., 0.0, 0.0, 40.0],
       [2008, 1, 28, ..., nan, nan, nan],
       [2008, 1, 29, ..., nan, nan, nan]], dtype=object)

In [10]:
# crear un nuevo dataframe
df2 = df.head(10) #crea un nuevo objeto

 # Filtrar datos en python

In [11]:
import pandas as pd

df=pd.read_csv("C:/Users/jenny/Documents/GITHUB/Linkedin_courses_bbdd/base_datos_2008.csv")

In [12]:
df["ArrDelay"].head()

0   -14.0
1     2.0
2    14.0
3    -6.0
4    34.0
Name: ArrDelay, dtype: float64

In [13]:
df[0:10]

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,4.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0
7,2008,1,3,4,1039.0,1040,1132.0,1150,WN,535,...,7.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
8,2008,1,3,4,617.0,615,652.0,650,WN,11,...,6.0,19.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
9,2008,1,3,4,1620.0,1620,1639.0,1655,WN,810,...,3.0,6.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [14]:
#filtro concreto: aquellos vuelos que se han atrasado menos de una hora
df[df["ArrDelay"]<60].head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0

In [15]:
#filtro concreto: aquellos vuelos que se han atrasado exactamente una hora
df[df["ArrDelay"]==60].head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
96,2008,1,3,4,2039.0,1930,155.0,55,WN,3940,...,5.0,14.0,0,NaN,0,0.0,0.0,22.0,0.0,38.0
423,2008,1,3,4,2117.0,2010,2355.0,2255,WN,1485,...,4.0,10.0,0,NaN,0,0.0,0.0,1.0,0.0,59.0
610,2008,1,3,4,1942.0,1840,2205.0,2105,WN,3332,...,4.0,9.0,0,NaN,0,60.0,0.0,0.0,0.0,0.0
1356,2008,1,3,4,1933.0,1835,1955.0,1855,WN,921,...,2.0,10.0,0,NaN,0,0.0,0.0,3.0,0.0,57.0
3574,2008,1,4,5,1600.0,1510,2355.0,2255,WN,3144,...,5.0,13.0,0,NaN,0,5.0,0.0,10.0,0.0,45.0

In [16]:
#filtro concreto: aquellos vuelos que se han atrasado mas de una hora
df[df["ArrDelay"]>60].head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,NaN,0,8.0,0.0,0.0,0.0,72.0
30,2008,1,3,4,2107.0,1945,2334.0,2230,WN,362,...,6.0,7.0,0,NaN,0,5.0,0.0,0.0,0.0,59.0
37,2008,1,3,4,1812.0,1650,1927.0,1815,WN,422,...,6.0,11.0,0,NaN,0,3.0,0.0,0.0,0.0,69.0
49,2008,1,3,4,2245.0,1730,2354.0,1850,WN,186,...,3.0,7.0,0,NaN,0,282.0,0.0,0.0,0.0,22.0
77,2008,1,3,4,958.0,900,1052.0,950,WN,1574,...,4.0,14.0,0,NaN,0,0.0,0.0,4.0,0.0,58.0

In [17]:
#Todos los vuelos que han salido de atlanta
df[df["Origin"]=="ATL"].head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
103149,2008,1,21,1,1207.0,1210,1346.0,1335,XE,2349,...,11.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
103572,2008,1,12,6,1458.0,1500,1622.0,1620,XE,2145,...,6.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
104019,2008,1,20,7,1403.0,1330,1625.0,1608,XE,1284,...,6.0,32.0,0,NaN,0,0.0,0.0,17.0,0.0,0.0
104124,2008,1,26,6,1629.0,1630,1832.0,1902,XE,1241,...,9.0,15.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
104485,2008,1,4,5,1336.0,1340,1501.0,1500,XE,2112,...,12.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [18]:
#Todos los vuelos que han salido de atlanta con más de una hora de atraso
df[(df["Origin"]=="ATL" )& (df["ArrDelay"]>60) ].head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
109189,2008,1,31,4,1217.0,1210,1511.0,1335,XE,2023,...,21.0,60.0,0,NaN,0,0.0,0.0,96.0,0.0,0.0
110375,2008,1,19,6,1241.0,1215,1735.0,1437,XE,1284,...,12.0,178.0,0,NaN,0,0.0,0.0,164.0,0.0,14.0
121229,2008,1,3,4,1421.0,1200,1526.0,1325,XE,2132,...,9.0,13.0,0,NaN,0,17.0,0.0,0.0,0.0,104.0
132768,2008,1,6,7,1315.0,1130,1410.0,1240,YV,7267,...,3.0,6.0,0,NaN,0,0.0,0.0,90.0,0.0,0.0
133549,2008,1,7,1,2040.0,1800,2156.0,1932,YV,2626,...,12.0,28.0,0,NaN,0,144.0,0.0,0.0,0.0,0.0

In [19]:
#Todos los vuelos que han salido de atlanta o que han salido con  más de una hora de atraso

df[(df["Origin"]=="ATL" ) | (df["ArrDelay"]>60) ].head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,NaN,0,8.0,0.0,0.0,0.0,72.0
30,2008,1,3,4,2107.0,1945,2334.0,2230,WN,362,...,6.0,7.0,0,NaN,0,5.0,0.0,0.0,0.0,59.0
37,2008,1,3,4,1812.0,1650,1927.0,1815,WN,422,...,6.0,11.0,0,NaN,0,3.0,0.0,0.0,0.0,69.0
49,2008,1,3,4,2245.0,1730,2354.0,1850,WN,186,...,3.0,7.0,0,NaN,0,282.0,0.0,0.0,0.0,22.0
77,2008,1,3,4,958.0,900,1052.0,950,WN,1574,...,4.0,14.0,0,NaN,0,0.0,0.0,4.0,0.0,58.0

In [20]:
#Todos los vuelos que han salido de atlanta y houston
df[df.Origin.isin(["HOU","ATL"])].head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
3269,2008,1,4,5,1910.0,1910,2025.0,2025,WN,823,...,6.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3270,2008,1,4,5,1345.0,1345,1453.0,1500,WN,901,...,3.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3271,2008,1,4,5,736.0,735,839.0,850,WN,957,...,3.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3272,2008,1,4,5,1603.0,1550,1647.0,1635,WN,231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3273,2008,1,4,5,2105.0,2105,2151.0,2150,WN,570,...,7.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [21]:
#  para missing

df[pd.isna(df["ArrDelay"])].head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
178,2008,1,3,4,NaN,700,NaN,830,WN,126,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
373,2008,1,3,4,NaN,1100,NaN,1215,WN,1146,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
399,2008,1,3,4,NaN,905,NaN,1025,WN,469,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
401,2008,1,3,4,NaN,1620,NaN,1740,WN,618,...,NaN,NaN,1,C,0,NaN,NaN,NaN,NaN,NaN
415,2008,1,3,4,NaN,1930,NaN,2035,WN,2528,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN

# Transformaciones de la base datos

Un transformación es una modificación de nuestra base de datos

In [22]:
import pandas as pd

df=pd.read_csv("C:/Users/jenny/Documents/GITHUB/Linkedin_courses_bbdd/base_datos_2008.csv")

In [23]:
df["HoursDelay"]=round(df["ArrDelay"]/60)

In [24]:
df["HoursDelay"].head()

0   -0.0
1    0.0
2    0.0
3   -0.0
4    1.0
Name: HoursDelay, dtype: float64

In [25]:
# Podemos borrar la columna
del(df["HoursDelay"])
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0

In [26]:
df["HoursDelay"]=round(df["ArrDelay"]/60)
df.head() #validar que esta

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,HoursDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,-0.0
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,0.0
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,0.0
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,-0.0
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0,1.0

In [27]:
#eliminar varias columnas
df.drop(["Diverted","Cancelled","Year"], axis =1) #axis=1 se debe especificar para que python sepa que vamos a eliminar columnas

,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,...,Distance,TaxiIn,TaxiOut,CancellationCode,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,HoursDelay
0,1,3,4,2003.0,1955,2211.0,2225,WN,335,N712SW,...,810,4.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,-0.0
1,1,3,4,754.0,735,1002.0,1000,WN,3231,N772SW,...,810,5.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,1,3,4,628.0,620,804.0,750,WN,448,N428WN,...,515,3.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,1,3,4,926.0,930,1054.0,1100,WN,1746,N612SW,...,515,3.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,-0.0
4,1,3,4,1829.0,1755,1959.0,1925,WN,3920,N464WN,...,515,3.0,10.0,NaN,2.0,0.0,0.0,0.0,32.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7009723,12,13,6,1002.0,959,1204.0,1150,DL,1636,N646DL,...,533,6.0,45.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
7009724,12,13,6,834.0,835,1021.0,1023,DL,1637,N908DL,...,874,5.0,23.0,NaN,NaN,NaN,NaN,NaN,NaN,-0.0
7009725,12,13,6,655.0,700,856.0,856,DL,1638,N671DN,...,545,24.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
7009726,12,13,6,1251.0,1240,1446.0,1437,DL,1639,N646DL,...,533,13.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
7009727,12,13,6,1110.0,1103,1413.0,1418,DL,1641,N908DL,...,874,8.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,-0.0

In [28]:
df.head() #Acá sigue apareciendo

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,HoursDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,-0.0
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,0.0
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,0.0
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,-0.0
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0,1.0

In [29]:
#Usamos inplace para indicar que lo haga sobre la base
df.drop(["Diverted","Cancelled","Year"], axis =1, inplace=True) #axis=1 se debe especificar para que python sepa que vamos a eliminar columnas

In [30]:
# si queremos eliminar las primeras 100 mil filas en lugar de columnas
df.drop(range(0,100000))

,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,...,Distance,TaxiIn,TaxiOut,CancellationCode,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,HoursDelay
100000,1,30,3,1936.0,1935,2258.0,2257,XE,7676,N11176,...,866,7.0,28.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
100001,1,3,4,607.0,600,858.0,852,XE,7677,N14177,...,619,7.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
100002,1,4,5,552.0,600,849.0,852,XE,7677,N33182,...,619,6.0,19.0,NaN,NaN,NaN,NaN,NaN,NaN,-0.0
100003,1,5,6,552.0,600,940.0,852,XE,7677,N17169,...,619,9.0,15.0,NaN,0.0,0.0,48.0,0.0,0.0,1.0
100004,1,7,1,637.0,600,935.0,852,XE,7677,N11181,...,619,4.0,36.0,NaN,37.0,0.0,6.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7009723,12,13,6,1002.0,959,1204.0,1150,DL,1636,N646DL,...,533,6.0,45.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
7009724,12,13,6,834.0,835,1021.0,1023,DL,1637,N908DL,...,874,5.0,23.0,NaN,NaN,NaN,NaN,NaN,NaN,-0.0
7009725,12,13,6,655.0,700,856.0,856,DL,1638,N671DN,...,545,24.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
7009726,12,13,6,1251.0,1240,1446.0,1437,DL,1639,N646DL,...,533,13.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
7009727,12,13,6,1110.0,1103,1413.0,1418,DL,1641,N908DL,...,874,8.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,-0.0

In [31]:
dfATL = df[df.Origin == "ATL"]
dfHOU = df[df.Origin == "HOU"]

In [32]:
# Como queremos crear un dataframe que tenga los dos anteriores
newdf= dfATL.append(dfHOU) #Ojo se hace porque los dos dataframes tienen la misma estructura

In [33]:
newdf.head()

,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,...,Distance,TaxiIn,TaxiOut,CancellationCode,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,HoursDelay
103149,1,21,1,1207.0,1210,1346.0,1335,XE,2349,N14573,...,689,11.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
103572,1,12,6,1458.0,1500,1622.0,1620,XE,2145,N13969,...,689,6.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
104019,1,20,7,1403.0,1330,1625.0,1608,XE,1284,N16151,...,745,6.0,32.0,NaN,0.0,0.0,17.0,0.0,0.0,0.0
104124,1,26,6,1629.0,1630,1832.0,1902,XE,1241,N13964,...,745,9.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,-0.0
104485,1,4,5,1336.0,1340,1501.0,1500,XE,2112,N16976,...,689,12.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0

# Groupby: obtener información esencial

In [34]:
df=pd.read_csv("C:/Users/jenny/Documents/GITHUB/Linkedin_courses_bbdd/base_datos_2008.csv")

In [35]:
#Retraso máximo que han tenido los vuelos por día d e semana
df.groupby(by="DayOfWeek")["ArrDelay"].max()

DayOfWeek
1    1583.0
2    1951.0
3    1510.0
4    2453.0
5    1707.0
6    1525.0
7    2461.0
Name: ArrDelay, dtype: float64

In [36]:
#Retraso promedio que han tenido los vuelos por día d e semana
df.groupby(by="DayOfWeek")["ArrDelay"].mean()

DayOfWeek
1     8.210850
2     7.481208
3     6.522017
4     8.411599
5    10.953440
6     5.789666
7     9.495886
Name: ArrDelay, dtype: float64

In [37]:
#Retraso minimo que han tenido los vuelos por día d e semana
df.groupby(by="DayOfWeek")["ArrDelay"].min()

DayOfWeek
1   -519.0
2    -89.0
3    -87.0
4   -129.0
5    -86.0
6    -91.0
7    -92.0
Name: ArrDelay, dtype: float64

In [38]:
#Resumen estadístico básico que han tenido los vuelos por día d e semana
df.groupby(by="DayOfWeek")["ArrDelay"].describe()

               count       mean        std    min   25%  50%   75%     max
DayOfWeek
1          1013410.0   8.210850  38.013811 -519.0 -10.0 -2.0  12.0  1583.0
2          1005992.0   7.481208  38.361073  -89.0 -11.0 -3.0  11.0  1951.0
3          1016995.0   6.522017  36.024679  -87.0 -10.0 -3.0  10.0  1510.0
4          1011970.0   8.411599  37.397411 -129.0 -10.0 -1.0  12.0  2453.0
5          1008872.0  10.953440  40.252320  -86.0  -9.0  0.0  15.0  1707.0
6           841663.0   5.789666  37.163120  -91.0 -11.0 -3.0   9.0  1525.0
7           956127.0   9.495886  41.759296  -92.0 -10.0 -2.0  12.0  2461.0

In [39]:
df.groupby(by="DayOfWeek")["ArrDelay","DepDelay"].mean()

C:\Users\jenny\AppData\Local\Temp/ipykernel_25556/3175274083.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(by="DayOfWeek")["ArrDelay","DepDelay"].mean()

            ArrDelay   DepDelay
DayOfWeek
1           8.210850  10.269990
2           7.481208   8.976897
3           6.522017   8.289761
4           8.411599   9.772897
5          10.953440  12.158036
6           5.789666   8.645681
7           9.495886  11.568973

In [40]:
df.groupby(by="DayOfWeek")["ArrDelay"].max()-df.groupby(by="DayOfWeek")["ArrDelay"].min()

DayOfWeek
1    2102.0
2    2040.0
3    1597.0
4    2582.0
5    1793.0
6    1616.0
7    2553.0
Name: ArrDelay, dtype: float64

In [41]:
dfATLHOU = df[df.Origin.isin(["ATL","HOU"])]

In [42]:
dfATLHOU.groupby(by=["DayOfWeek","Origin"])["ArrDelay"].mean()

DayOfWeek  Origin
1          ATL        9.123436
           HOU        6.356856
2          ATL        8.933587
           HOU        9.348112
3          ATL        8.809146
           HOU        9.073109
4          ATL       10.186501
           HOU       12.994016
5          ATL       14.797440
           HOU       11.036545
6          ATL        9.511662
           HOU        4.283933
7          ATL       13.798627
           HOU        7.045287
Name: ArrDelay, dtype: float64

In [43]:
#Los objetos group by pueden guardarse
mygroupby=dfATLHOU.groupby(by=["DayOfWeek","Origin"])["ArrDelay"]

In [44]:
mygroupby.max()

DayOfWeek  Origin
1          ATL        407.0
           HOU        383.0
2          ATL        848.0
           HOU        546.0
3          ATL        876.0
           HOU        639.0
4          ATL        571.0
           HOU       1082.0
5          ATL        699.0
           HOU        560.0
6          ATL        483.0
           HOU        917.0
7          ATL        612.0
           HOU        685.0
Name: ArrDelay, dtype: float64

# Tratar datos duplicados y perdidos

In [45]:
df=pd.read_csv("C:/Users/jenny/Documents/GITHUB/Linkedin_courses_bbdd/base_datos_2008.csv", nrows=1e6)

In [46]:
df.shape

(1000000, 29)

In [47]:
dfduplicate = df.append(df) #Para fines practicos duplicamos el mismo dataframe

In [48]:
dfduplicate = dfduplicate.sample(frac=1)

In [49]:
dfclean =dfduplicate.drop_duplicates()

In [50]:
dfclean.shape

(999996, 29)

In [51]:
len(df)==len(dfclean)

False

In [52]:
df.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [53]:
dfclean.drop_duplicates(subset="DayofMonth")

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
381380,2008,1,31,4,2040.0,2005,2148.0,2120,MQ,3115,...,5.0,10.0,0,NaN,0,0.0,4.0,0.0,0.0,24.0
861894,2008,2,12,2,1542.0,1530,1723.0,1658,US,1657,...,3.0,43.0,0,NaN,0,0.0,12.0,13.0,0.0,0.0
88652,2008,1,30,3,1108.0,1110,1321.0,1325,WN,2186,...,6.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
592814,2008,1,4,5,1616.0,1530,1923.0,1906,DL,1792,...,5.0,16.0,0,NaN,0,17.0,0.0,0.0,0.0,0.0
703908,2008,2,8,5,1415.0,1415,1554.0,1550,XE,2209,...,4.0,20.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
112045,2008,1,2,3,714.0,715,1129.0,1100,XE,2658,...,24.0,23.0,0,NaN,0,0.0,0.0,29.0,0.0,0.0
742946,2008,2,23,6,931.0,935,1008.0,1010,YV,1011,...,4.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
820656,2008,2,11,1,1723.0,1722,1958.0,1952,UA,357,...,11.0,19.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
996936,2008,2,6,3,NaN,1435,NaN,1525,MQ,4500,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
513092,2008,1,13,7,857.0,900,1021.0,1030,AA,1627,...,4.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
251049,2008,1,9,3,NaN,815,NaN,927,UA,1445,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
240292,2008,1,7,1,2042.0,2041,2134.0,2132,UA,749,...,4.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
801690,2008,2,24,7,1634.0,1635,1731.0,1735,OO,3972,...,4.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
481524,2008,1,17,4,NaN,1629,NaN,1814,AA,341,...,NaN,NaN,1,C,0,NaN,NaN,NaN,NaN,NaN
796378,2008,2,20,3,1147.0,1155,1327.0,1326,OO,6617,...,3.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
789351,2008,2,16,6,1320.0,1330,1615.0,1646,OO,5831,...,5.0,15.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
798385,2008,2,22,5,608.0,600,909.0,910,OO,3764,...,9.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
286925,2008,1,25,5,1325.0,1325,1511.0,1507,US,846,...,5.0,15.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
649324,2008,2,15,5,826.0,830,926.0,950,WN,1510,...,5.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
932642,2008,2,5,2,2041.0,2040,2358.0,2353,F9,546,...,7.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
75134,2008,1,26,6,1840.0,1845,2055.0,2120,WN,2442,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
779441,2008,2,10,7,1059.0,1110,1155.0,1210,OO,5440,...,14.0,5.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
925649,2008,2,1,5,1927.0,1850,2102.0,2039,EV,4713,...,13.0,11.0,0,NaN,0,0.0,0.0,0.0,0.0,23.0
837642,2008,2,27,3,559.0,608,1338.0,1354,UA,966,...,5.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
53895,2008,1,19,6,1947.0,1950,2031.0,2050,WN,1037,...,5.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
457671,2008,1,29,2,1507.0,1507,1639.0,1655,9E,2935,...,4.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
82169,2008,1,28,1,1328.0,1330,1557.0,1530,WN,2545,...,5.0,12.0,0,NaN,0,0.0,0.0,27.0,0.0,0.0
894242,2008,2,18,1,1708.0,1630,1926.0,1848,DL,67,...,6.0,25.0,0,NaN,0,38.0,0.0,0.0,0.0,0.0
668008,2008,2,21,4,NaN,805,NaN,935,WN,3329,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
828596,2008,2,14,4,555.0,600,654.0,708,UA,601,...,3.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
998841,2008,2,3,7,1156.0,1200,1243.0,1300,MQ,4631,...,2.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [54]:
df.dropna() #no hay una columna completa con datos faltantesºb

Empty DataFrame
Columns: [Year, Month, DayofMonth, DayOfWeek, DepTime, CRSDepTime, ArrTime, CRSArrTime, UniqueCarrier, FlightNum, TailNum, ActualElapsedTime, CRSElapsedTime, AirTime, ArrDelay, DepDelay, Origin, Dest, Distance, TaxiIn, TaxiOut, Cancelled, CancellationCode, Diverted, CarrierDelay, WeatherDelay, NASDelay, SecurityDelay, LateAircraftDelay]
Index: []

[0 rows x 29 columns]

In [55]:
df.dropna(thresh=25)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,NaN,0,8.0,0.0,0.0,0.0,72.0
16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,675,...,7.0,8.0,0,NaN,0,3.0,0.0,0.0,0.0,12.0
18,2008,1,3,4,1323.0,1255,1526.0,1510,WN,4,...,4.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999973,2008,2,23,6,1306.0,1235,1514.0,1415,MQ,4694,...,3.0,50.0,0,NaN,0,31.0,0.0,28.0,0.0,0.0
999983,2008,2,28,4,1458.0,1235,1645.0,1415,MQ,4694,...,3.0,37.0,0,NaN,0,0.0,0.0,7.0,0.0,143.0
999988,2008,2,4,1,1754.0,1655,2056.0,2005,MQ,4695,...,2.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,51.0
999989,2008,2,5,2,1812.0,1655,2129.0,2005,MQ,4695,...,4.0,12.0,0,NaN,0,10.0,0.0,7.0,0.0,67.0
999994,2008,2,11,1,1717.0,1655,2030.0,2005,MQ,4695,...,4.0,23.0,0,NaN,0,0.0,0.0,3.0,0.0,22.0

In [56]:
df.dropna(thresh=len(df.columns)-2)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,NaN,0,8.0,0.0,0.0,0.0,72.0
16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,675,...,7.0,8.0,0,NaN,0,3.0,0.0,0.0,0.0,12.0
18,2008,1,3,4,1323.0,1255,1526.0,1510,WN,4,...,4.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999973,2008,2,23,6,1306.0,1235,1514.0,1415,MQ,4694,...,3.0,50.0,0,NaN,0,31.0,0.0,28.0,0.0,0.0
999983,2008,2,28,4,1458.0,1235,1645.0,1415,MQ,4694,...,3.0,37.0,0,NaN,0,0.0,0.0,7.0,0.0,143.0
999988,2008,2,4,1,1754.0,1655,2056.0,2005,MQ,4695,...,2.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,51.0
999989,2008,2,5,2,1812.0,1655,2129.0,2005,MQ,4695,...,4.0,12.0,0,NaN,0,10.0,0.0,7.0,0.0,67.0
999994,2008,2,11,1,1717.0,1655,2030.0,2005,MQ,4695,...,4.0,23.0,0,NaN,0,0.0,0.0,3.0,0.0,22.0

# Introducción a la librería de Numpy

In [57]:
import numpy as np #Lo màs representativo de este paquete son los array

In [58]:
valoraciones = np.array([[8,7,8,5], [2,6,8,1],[8,8,9,5]])
valoraciones

array([[8, 7, 8, 5],
       [2, 6, 8, 1],
       [8, 8, 9, 5]])

In [59]:
valoraciones[0][2]

8

In [60]:
valoraciones2=np.array([[[8,7,8,5], [2,5,5,2]],[[2,6,8,4],[8,9,7,4]],[[8,8,9,3],[10,9,10,8]]])

In [61]:
valoraciones2

array([[[ 8,  7,  8,  5],
        [ 2,  5,  5,  2]],

       [[ 2,  6,  8,  4],
        [ 8,  9,  7,  4]],

       [[ 8,  8,  9,  3],
        [10,  9, 10,  8]]])

In [62]:
valoraciones2[0,1,2]

5

In [63]:
np.zeros((3,2,4))

array([[[0., 0., 0., 0.],
        [0., 0., 0., 0.]],

       [[0., 0., 0., 0.],
        [0., 0., 0., 0.]],

       [[0., 0., 0., 0.],
        [0., 0., 0., 0.]]])

In [64]:
valoraciones2+np.ones((3,2,4))

array([[[ 9.,  8.,  9.,  6.],
        [ 3.,  6.,  6.,  3.]],

       [[ 3.,  7.,  9.,  5.],
        [ 9., 10.,  8.,  5.]],

       [[ 9.,  9., 10.,  4.],
        [11., 10., 11.,  9.]]])

In [65]:
np.mean(valoraciones2)

6.458333333333333

In [66]:
np.mean(valoraciones2,axis=0)

array([[6.        , 7.        , 8.33333333, 4.        ],
       [6.66666667, 7.66666667, 7.33333333, 4.66666667]])

In [67]:
np.mean(valoraciones2,axis=1)

array([[5. , 6. , 6.5, 3.5],
       [5. , 7.5, 7.5, 4. ],
       [9. , 8.5, 9.5, 5.5]])

In [68]:
np.mean(valoraciones2,axis=2) #media de cada fila del array

array([[7.  , 3.5 ],
       [5.  , 7.  ],
       [7.  , 9.25]])

In [69]:
#np.reshape([1,2,3,4,5,6,7,8,9,10,11,23](3,2,2))